@font-face {
    font-family: "Holen-Vintage";
    src: url(Fonts/HolenVintageRegular-vmzq9.woff) format("woff");
}

@font-face {
    font-family: "Typewriter";
    src: url(Fonts/Fox\ 21\ Font.woff) format("woff");
}